:root{
    --color_1: white;
    --color_1: black;
    --font-family_1:sans-serif;
    --font-family_2: 'Times New Roman';
    --background-color: yellow;
}
html{
    background-color: rgb(255, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: white;
    border-radius: 20px;
    width: 70%;
    display: flex;
    padding: 1.6rem;
    font-family: sans-serif;
    gap: 1.6rem;
    margin: none;

}
body > nav{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1.5rem;
    border-right: solid 1px rgb(67, 72, 77, 0.1);
    padding-right: 10px;
    padding-left: 10px;

    
}
body > main{
    flex-basis: 75%;
    flex-shrink: 1;
}
.logo{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 1;
    margin-top: 2rem;
    gap: 1rem;
}
.logo > img{
    height: 2rem;
}
.menu {
    display: flex;
    flex-grow: 1;
}
.menu > li > ul{
    display: flex;
    gap: 0.9rem;
    justify-content: flex-start;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;

    font-weight: bold;
}
.menu > li > ul:hover{
    background-color: rgb(232, 195, 27);
    border-radius: 10px;
    
}
.menu{
    border-radius: 5%;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    overflow: hidden; 
}
.user{
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-grow: 3;
    gap: 1rem;
    box-shadow: 3px 0px 8px rgb(205, 203, 203);
    margin-bottom: 2rem;
    border-radius: 5%;
    margin-right: 2rem;
    margin-left: 2rem;
    flex-shrink: 1;
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
.user > img{
    height: 3rem;
}
.userInfo > button{
    background-color: rgb(215, 215, 215);
    margin: 0.4rem;
    border-radius: 5px;
}
.bar > #burgerInfo > button{
    background-color: rgb(215, 215, 215);
    margin: 0.4rem;
}
.bar > span{
    font-size: 0.9rem;
}
#infoBar{
    color: rgb(161, 167, 173);
}
#mainInfoBar{
    font-weight: bolder;
}
.bar > input{
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 10px;
    height: 1.7rem;
    padding: 1rem;
}
.bar{
    display: flex;
    justify-content:space-between;
}
.content > header{
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 1rem;
}
.content > header > img{
    height: 4rem;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 30rem;
    margin-left: 5rem;
}
.products::-webkit-scrollbar{
    display: none;
}
.products img{
    height: 10rem;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 0px 8px rgb(205, 203, 203);
}
.details > h4{
    color: rgb(210, 192, 30);
}
.details > h3{
    font-weight: bolder;
}
.details > span{
    font-size: 0.8rem;
    color: rgb(215, 215, 215);;
}
@media only screen and (max-width: 1400px) {
    html {
      font-size: 14px;
      
    }
  }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 12px;
      
    }
  }
  @media only screen and (max-width: 992px) {
    html {
      font-size: 10px;
      
    }
  }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 8px;
      
    }
  }
  @media only screen and (max-width: 576px) {
    html {
      font-size: 6px;
      
    }
  }